@charset "UTF-8";
.body {
  background-color: #283632; }

/* id para centrar el row que contiene al carrousel.*/
#row, #row2, #footer {
  margin-right: 0;
  margin-left: 0; }

/* id para el resto de las páginas del sitio.*/
#row2 {
  background-color: #e4e4e4; }

/*Propiedades del logo y nav.*/
#logo {
  font-family: 'Prompt', sans-serif;
  font-size: 3.2rem;
  color: #f85252; }

.nav-link {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 1.2rem; }

/*Propiedades de la tabla.*/
#table {
  padding: 3rem 2rem 0 2rem; }

/*Propiedades del footer.*/
#footer {
  background-color: #f85252;
  color: black;
  font-family: 'Padauk',sans-serif;
  padding: 10px 0 0 5px; }

/*Aplico nesting a los párrafos.*/
div p {
  text-align: justify;
  font-size: 1.1rem;
  padding: 1rem; }

/*Propiedades del formulario.*/
#form, #form-mapa {
  background-color: white;
  margin: 5vh 0 2vh 0;
  padding: 1vh 2vw 1vh 2vw;
  border-radius: 1vw; }

/*Clase original para imágenes.*/
.img, .img-1, .img-2, .img-3, .img-4 {
  padding: 2rem;
  width: 100%;
  height: auto; }

.img__logo {
  padding: 5px;
  border-radius: 8px;
  width: 38px;
  height: 38px; }

/*Defino un diccionario para generar y manejar variantes de la clase de imágenes.*/
.img-1 {
  opacity: 0.85; }

.img-2 {
  opacity: 0.9; }

.img-3 {
  opacity: 0.95; }

.img-4 {
  opacity: 1; }

/*Uso media query para que las distintas páginas del sitio tengan el mismo alto en pantallas medianas y grandes. En pantallas chicas dejo el alto en auto para no 
entrar en conflicto con la class container de BS.
También manejo las transformaciones en función del tamaño, por ejemplo, que no se apliquen en mobile, y que en pantallas medianas sea más rápida la transición.
Algunas imágenes de las distintas páginas desaparecen en mobile, para que sea más cómodo el scroll.
*/
@media only screen and (max-width: 768px) {
  #row2 {
    height: auto; }
  .img-1, .img-2, .img-3 {
    display: none; }
  .img-4 {
    border-radius: 40px; } }

@media only screen and (min-width: 768px) {
  #row2 {
    height: 95vh; }
  .img:hover, .img-1:hover, .img-2:hover, .img-3:hover, .img-4:hover {
    transform: scale(1.025, 1.025);
    transition: 1.1s;
    opacity: 1; }
  .img-1, .img-2, .img-3, .img-4 {
    border-radius: 40px; }
  #logo:hover {
    transform: scale(1.03, 1.03); } }

@media only screen and (min-width: 992px) {
  #row2 {
    height: 100vh; }
  .img:hover, .img-1:hover, .img-2:hover, .img-3:hover, .img-4:hover {
    transform: scale(1.05, 1.05);
    transition: 1.2s;
    opacity: 1; }
  .img-1, .img-2, .img-3, .img-4 {
    border-radius: 50px; }
  #logo:hover {
    transform: scale(1.07, 1.07);
    transition: 0.5s; } }

/*Defino esta media query para casos de pantallas con poca altura en relación al ancho, como algunos celulares en posición horizontal.*/
@media only screen and (max-height: 590px) {
  .img-1, .img-2, .img-3, .img-4, #form-mapa, #table {
    display: none; } }
